{
  "algorithm": "SHA256",
  "chmod": "0755",
  "compression": "GZ",
  "directories": [
    "src",
    "app"
  ],
  "files": [
    "vendor/composer/ca-bundle/res/cacert.pem",
    "vendor/guzzle/guzzle/src/Guzzle/Http/Resources/cacert.pem",
    "vendor/composer/composer/res/composer-schema.json",
    "vendor/composer/composer/LICENSE"
  ],
  "finder": [
    {
      "name": "*.php",
      "exclude": [
        "tests",
        "test"
      ],
      "in": "vendor"
    }
  ],
  "git-version": "package_version",
  "intercept": true,
  "main": "bin/workshop-manager",
  "output": "workshop-manager.phar",
  "stub": true
}