<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="test/bootstrap.php">
    <testsuite name="Workshop Manager Test Suite">
        <directory>./test</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="COLUMNS" value="200" force="true" />
    </php>
</phpunit>
